.costWork{
    width: 1081px;
    background-color: #f6f2ef;
    padding-top: 0;
    padding-bottom: 38px;
    font-family: 'Oswald', sans-serif;
    color: #563E2F;
    text-align: start;
}
.costWork p{
    font-weight: 300px;
    font-size: 20px;
    line-height: 22px;
    color: #563E2F;  
    
    }

    .calculator{
         text-align: center;
    }
 .calculatorButton{ 
    display: inline-block;   
    height: 30px;
    width: 300px;
    border: 2px solid #563E2F;
    border-radius: 60px;
    color: #563e2f;
    line-height: 28px;    
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
    margin-top: 30px;
    background:  #E5DBCE;
  
}
/* поведение кнопок при наведении курсора*/
 .calculatorButton:hover{
    background-color: #9A8C7C;
    color: #fefdfc;
    border: 1px solid #9A8C7C;
} 
